@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("/assets/fonts/pretendard/Pretendard-Regular.otf");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("/assets/fonts/pretendard/Pretendard-SemiBold.otf");
}
